<%= content_for(:title, "About | VincentRotter") %>

<div class="row">
  <div class="col-md-12">
    <div class="well jumbotron">
      <h1>Vincent Rotter </h1>
      <p>
         Moved to Beaverton in June 2013 in pursuit of programming.  In February 2014, I was accepted into Epicodus, an intensive four month, forty hours per week full stack web development class focusing on Javascript, Ruby, Rails, and Ember.js in Portland, OR.  Through pair programming, I have learned the fundamentals of object-oriented design in Javascript and Ruby and I am enjoying web app development with Rails. Using Test Driven Development and GitHub I am continuing important habits that will prepare me to enter the web development as a junior-level developer
      </p>
      <p>
        In my spare time I like to play all types of games, cooking, reading, and learning interesting science and math things.
      </p>
      <p>
        Projects:
        <a href="http://goal-number.herokuapp.com">Goal Number</a>
        <a href="https://play.google.com/store/apps/details?id=com.FencedinSoft.GoalNumbr">Goal Numbr on Android</a>
        <a href="http://planet-darts.herokuapp.com">GeoGuessr Clone</a>
      </p>
    </div>
  </div>
</div>
