<%= content_for(:title, "About | VincentRotter") %>

<div class="row">
  <div class="col-md-12">
    <div class="well jumbotron">
      <h1>Vincent Rotter </h1>
      <p>Some Stuff about me</p>

      <p>» stuff</p>
    </div>
  </div>
