<%= content_for(:title, "About | VincentRotter") %>

<div class="row">
  <div class="col-md-12">
    <div class="well jumbotron">
      <h1>Vincent Rotter </h1>
      <p>
         Moved to Beaverton in June 2013 in pursuit of programming.  In February 2014, I was accepted into Epicodus, an intensive four month, forty hours per week web development class focusing on Javascript, Ruby, Rails, and Ember.js in Portland, OR.  Through pair programming, I have learned the fundamentals of object-oriented design in Javascript and Ruby and I am enjoying web app development with Rails currently. Using Test Driven Development and GitHub I am learning important habits that will prepare me to enter the web development as a junior-level developer
      </p>
      <p>
        In my spare time I like to play all types of games, cooking, reading, and learning interesting science and math things.
      </p>
    </div>
  </div>
</div>
