<%= content_for(:title, "Blog | VincentRotter") %>
<h1 class="titlename"></h1>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1>test sdkfjg sahjdg </h1>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsagfajaisd flksjdg fljdhgf ajsdfgajsakjsdfgasdfgkajsdgf asdhjkgf adhjsgf ajsdhgf ajsdgjdgsfjdgsfjdgszfdsfksdgfjkagsdkfj agsdfjagsdjfg asdjhfg asdjh,fg asdhjfg asdhjfg kshdg</p>

      <p>» tags: asjf asjkdgf aksjd </p>
      <p>» posted on: DATE</p>
    </div>
  </div>

  <div class="col-md-11 col-md-offset-1">
    <div class="panel panel-body"><h4>name of person posting</h4>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsag sdfgdf gdfgsdf gdf gsdf gsdf gsdfg sdf gsdfg sdfg </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1>test sdkfjg sahjdg </h1>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsagfajaisd flksjdg fljdhgf ajsdfgajsakjsdfgasdfgkajsdgf asdhjkgf adhjsgf ajsdhgf ajsdgjdgsfjdgsfjdgszfdsfksdgfjkagsdkfj agsdfjagsdjfg asdjhfg asdjh,fg asdhjfg asdhjfg kshdg</p>

      <p>» tags: asjf asjkdgf aksjd </p>
      <p>» posted on: DATE</p>
    </div>
  </div>

  <div class="col-md-11 col-md-offset-1">
    <div class="panel panel-body"><h4>name of person posting</h4>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsag sdfgdf gdfgsdf gdf gsdf gsdf gsdfg sdf gsdfg sdfg </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1>test sdkfjg sahjdg </h1>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsagfajaisd flksjdg fljdhgf ajsdfgajsakjsdfgasdfgkajsdgf asdhjkgf adhjsgf ajsdhgf ajsdgjdgsfjdgsfjdgszfdsfksdgfjkagsdkfj agsdfjagsdjfg asdjhfg asdjh,fg asdhjfg asdhjfg kshdg</p>

      <p>» tags: asjf asjkdgf aksjd </p>
      <p>» posted on: DATE</p>
    </div>
  </div>

  <div class="col-md-11 col-md-offset-1">
    <div class="panel panel-body"><h4>name of person posting</h4>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsag sdfgdf gdfgsdf gdf gsdf gsdf gsdfg sdf gsdfg sdfg </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1>test sdkfjg sahjdg </h1>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsagfajaisd flksjdg fljdhgf ajsdfgajsakjsdfgasdfgkajsdgf asdhjkgf adhjsgf ajsdhgf ajsdgjdgsfjdgsfjdgszfdsfksdgfjkagsdkfj agsdfjagsdjfg asdjhfg asdjh,fg asdhjfg asdhjfg kshdg</p>

      <p>» tags: asjf asjkdgf aksjd </p>
      <p>» posted on: DATE</p>
    </div>
  </div>

  <div class="col-md-11 col-md-offset-1">
    <div class="panel panel-body"><h4>name of person posting</h4>
      <p>jsdygfkjsdgfa lfuashl fadsgasfgas lgajs,gjsag sdfgdf gdfgsdf gdf gsdf gsdf gsdfg sdf gsdfg sdfg </p>
    </div>
  </div>
</div>
<br><br>
